body {
  background-color: rgb(127, 255, 159);
}

.color-g {
  background-color: rgba(34, 139, 34, 0.534);
  border-radius: 5px;
}

.color-g-2 {
  background-color: rgba(31, 124, 31, 0.719);
  border-radius: 5px;
}

.color-g-3 {
  background-color: rgba(31, 124, 31, 0.459);
}

.green {
  color: green;
}

.green-b {
  color: rgb(2, 109, 2);
}

.green-2 {
  color: rgb(33, 206, 33);
}

.black {
  color: black;
}

.black-t {
  color: rgba(0, 0, 0, 0.466);
}

.link {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 960px;
}

.icon-link > .bi {
  width: 0.75em;
  height: 0.75em;
}

/*
 * Custom translucent site header
 */

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.line {
  text-decoration: underline;
}
